.jumbotron {
  background-color: #ffc800;
  color: black;
  margin-top: 50px;
  margin-bottom: 0xp;
}
footer {
  padding: 10px 10px 0 20px;
  background-color: #ffc800;
  margin-top: 10px;
  margin-bottom: 0xp;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0xp;
}
.btn-resarva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
