@yellow: #ffc800;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;

}

.jumbotron {
  background-color: @yellow; 
  color: black;
  .margenes(50px, 0xp); 

}

footer {
  padding: 10px 10px 0 20px;
  background-color: @yellow;
  .margenes(10px, 0xp);

}

.card-hotel {
  flex: 1 200px;
 .margenes(10px, 0xp);}


.btn-resarva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
